<div class="container">
  <div class="article-show">
    <%= cl_image_tag @article.photo, class: "photo-article-show" %>
    <div>
      <p class="text-center"><%= @article.created_at.strftime("%b %d, %Y") %></p>
        <h2 class="article-title-show text-center"><%= @article.title %></h2>
      <p><%= simple_format(@article.text) %></p>
    </div>
  </div>
 </div>


<% if current_user&.admin  %>
  <%= link_to article_path(@article), method: :delete do %>
    <i class="far fa-trash-alt poub-article" aria-hidden="true"></i>
  <% end %>
  <%= link_to edit_article_path(@article) do %>
    <i class="fas fa-pen poub-article"></i>
  <% end %>
<% end %>
