<div class="banner-photos" style="background-image: url( <%= image_path "header-photo.jpg" %>);">
  <h1>PORTFOLIO</h1>
  <div class="trait-souligne">
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="thumbs">
      <% @portfolio_photos.reverse.each do |p| %>
        <div class="col-xs-12 col-md-4">
          <div class="outer">
            <a class="inner" href="<%= cl_image_path p.photo %>" style="background-image:url(<%= cl_image_path p.photo %>)"></a>
            <div class="client-name">
              <p><%= p.client %></p>
            </div>
          </div>
          <% if current_user&.admin  %>
            <%= link_to portfolio_photo_path(p), method: :delete do %>
              <i class="fa fa-trash-o poub-photo" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <% if current_user&.admin  %>
    <div class="form-cache">
      <%= render 'portfolio_photos/form', portfolio_photo: @portfolio_photo %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>

<script>

    // Initialize the gallery
    $('#thumbs a.inner').touchTouch();

</script>
