<div class="container">
  <div class="row">
  <% @portfolio_photos.each do |p| %>
      <div class="col-xs-12 col-md-4">
        <div class="grosse-div">
          <div class="photo-light">
            <a class="lightbox" href="#photo_<%= p.id %>">
              <%= cl_image_tag p.photo %>
              <div class="client-name">
                <p><%= p.client %></p>
              </div>
            </a>
          </div>
          <% if current_user&.admin  %>
            <%= link_to portfolio_photo_path(p), method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <div class="lightbox-target" id="photo_<%= p.id %>">
      <%= cl_image_tag p.photo %>
      <a class="lightbox-close" href="#"></a>
    </div>
  <% end %>
</div>




  <% if current_user&.admin  %>
    <div class="form-cache">
      <%= render 'portfolio_photos/form', portfolio_photo: @portfolio_photo %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>

<!--

<div class="lightbox" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="lightbox-loader"></div>
  <div class="lightbox-content"></div>
  <button class="lightbox-previous">&#8249;</button>
  <button class="lightbox-next">&#8250;</button>
</div>
 -->
