<div class="container">
  <div class="row">
    <div id="thumbs">
      <% @portfolio_photos.reverse.each do |p| %>
        <div class="col-xs-12 col-md-4">
          <div class="outer">
            <a class="inner" href="<%= cl_image_path p.photo %>" style="background-image:url(<%= cl_image_path p.photo %>)"></a>
            <div class="client-name">
              <p><%= p.client %></p>
            </div>
          </div>
          <% if current_user&.admin  %>
            <%= link_to portfolio_photo_path(p), method: :delete do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>



  <% if current_user&.admin  %>
    <div class="form-cache">
      <%= render 'portfolio_photos/form', portfolio_photo: @portfolio_photo %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>

<script>

    // Initialize the gallery
    $('#thumbs a.inner').touchTouch();

</script>
<!--

<div class="lightbox" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="lightbox-loader"></div>
  <div class="lightbox-content"></div>
  <button class="lightbox-previous">&#8249;</button>
  <button class="lightbox-next">&#8250;</button>
</div>
 -->
