
<div class="container-photo">
  <div>
    <%= cl_image_tag @photo_homes[0].photo, class: "big-photo-home" %>
  </div>


  <div class="small-pictures">
      <%= cl_image_tag @photo_homes[1].photo, class: "home-small"%>
    <% @photo_homes[2..3].each do |photo_home| %>
      <%= cl_image_tag photo_home.photo, class: "home-small" %>
    <% end %>
  </div>

<!-- CAROUSEL2
 -->
<!-- <div id="myCarousel2" class="carousel carousel-2 slide carousel-fade" data-ride="carousel">

  <div class="carousel-inner carousel-2-inner">
    <div class="item active">
    </div>
    <div class="item">

    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->

<!-- FORM
 -->
  <% if current_user&.admin %>
  <div class="formulaires">
    <div class="row">
      <!-- <div class="col-xs-12 col-md-2">
        <p>Ajouter une photo</p>
        <div class="form-home"> -->
  <!--         render 'photo_homes/form', photo_home: @photo_home
   -->
       <!--  </div>
      </div> -->
        <% @photo_homes.each_with_index do |photo_home, index| %>
          <div class="col-xs-12 col-md-2">
            <p>Modifier photo <%= index + 1%></p>
            <div class="form-home">
              <%= render 'photo_homes/form', photo_home: photo_home, method: :patch%>
            </div>
          </div>
        <% end %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% end %>

</div>

<div class="waste hidden-xs hidden-sm">
  <%= image_tag "Logotoogood.png" %>
  <div style="width: 50%;">
    <p class="text-center"> Le studio de photographies culinaires Pixel et Béchamel met en place des actions quotidiennes visant à réduire les déchets alimentaires et à les recycler.</p>
    <p class="text-center">Cette gestion inclut la distribution, via l’application To Good To Go, de certains plats réalisés sur place. Nous reversons tous les revenus de ces transactions à l'association Action contre la faim.</p>
  </div>
</div>

<div class="waste-mobile hidden-md hidden-lg">
  <%= image_tag "Logotoogood.png", class: "logo-waste-mobile" %>
  <p> Le studio de photographies culinaires Pixel et Béchamel met en place des actions quotidiennes visant à réduire les déchets alimentaires et à les recycler.</p>
  <p>Cette gestion inclut la distribution, via l’application To Good To Go, de certains plats réalisés sur place. Nous reversons tous les revenus de ces transactions à l'association Action contre la faim.</p>
</div>


  <div id="mc_embed_signup">
    <form action="https://pixeletbechamel.us8.list-manage.com/subscribe/post?u=d7fa94b094c52b21ae0e45ac0&amp;id=2e4ec7f08c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-2">
          <label for="mce-EMAIL">Inscrivez-vous à notre newsletter !</label>
        </div>
        <div class="col-xs-12 col-md-2">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Adresse mail" required>
        </div>
        <div class="col-xs-12 col-md-2">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7fa94b094c52b21ae0e45ac0_2e4ec7f08c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </div>
    </form>
  </div>

<div class="container">
  <div class="images-partners">
    <p class="text-center">Ils nous ont fait confiance</p>

    <div class="row text-center" style="display: flex; align-items: center; flex-wrap: wrap;">
      <div class="col-xs-6 col-md-3">
        <%= image_tag "logoconnetable.png", class: "logo-home" %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag "logofindus.png", style: "height: 95px;" %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag "logohachette.png", class: "logo-home" %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag "logoleclerc.jpg", class: "logo-home" %>
      </div>
    </div>
    <div class="row text-center" style="display: flex; align-items: center;  flex-wrap: wrap;">

      <div class="col-xs-6 col-md-3">
        <%= image_tag "logoliddle.png", class: "logo-home" %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag "logomichel.png", class: "logo-home" %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag "logoprestashop.jpg", class: "logo-home" %>
      </div>
      <div class="col-xs-6 col-md-3">
        <%= image_tag "mastradlogo.jpg", class: "logo-home" %>
      </div>

    </div>

  </div>

<!--   <p class="contact-btn"><%= link_to "Contactez-nous", contact_path %></p>
 -->
 </div>


</div>


<%= content_for(:title, "Pixel et Béchamel, photographie culinaire") %>
