<div class="big-photo-home" style="background-image: url(<%= cl_image_path @photo_homes[0].photo%>)";>
  <div class="navbar-home hidden-xs hidden-sm">
    <%= link_to "ÉQUIPE", equipe_path, id: "qui" %>
    <%= link_to "PHOTOS", folders_path %>
    <%= link_to "VIDEOS", video_folders_path %>
    <%= link_to "STUDIO", studio_path, id: "studio"  %>
    <%= link_to "ACTUALITÉS", articles_path %>
    <%= link_to "CONTACT", contact_path %>
  </div>
  <div class="navbar-home hidden-md hidden-lg">
    <div class="dropdown">
      <button style="color: #2b2b2b; background: white;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" ><%= link_to "ÉQUIPE", equipe_path %></li>
        <li class="dropdown-item" ><%= link_to "PHOTOS", folders_path %></li>
        <li class="dropdown-item" ><%= link_to "VIDEOS", video_folders_path %></li>
        <li class="dropdown-item" ><%= link_to "STUDIO", studio_path %></li>
        <li class="dropdown-item" ><%= link_to "ACTUALITÉS", articles_path %></li>
        <li class="dropdown-item" ><%= link_to "CONTACT", contact_path %></li>
      </ul>
    </div>
  </div>

  <span id="banner-typed-text"></span>
  <a href="#intro" data-scroll><i class="fas fa-angle-double-down"></i></a>
</div>




<% if current_user&.admin %>
  <div class="formulaires">
    <div class="row">
      <% @photo_homes.each_with_index do |photo_home, index| %>
        <div class="col-xs-12 col-md-2">
          <p>Modifier photo <%= index + 1%></p>
          <div class="form-home">
            <%= render 'photo_homes/form', photo_home: photo_home, method: :patch%>
          </div>
        </div>
      <% end %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
<% end %>



<div class="container">
  <div id="intro">
    <div class="intro hidden-xs hidden-sm">
      <%= cl_image_tag @photo_homes[1].photo, class: "intro-img"%>
      <div class="description-good">
      <h2>PIXEL & BECHAMEL S’ENGAGE</h2>
      <hr>
        <p> Le studio de photographie culinaire Pixel et Béchamel met en place des actions quotidiennes visant à réduire les déchets alimentaires et à les recycler.</p>
        <p>Cette gestion inclut la distribution, via l’application To Good To Go, de certains plats réalisés sur place. Nous reversons tous les revenus de ces transactions à l'association Action contre la faim.</p>
        <%= image_tag "Logotoogood.png", class: "logo-good"%>
      </div>
    </div>
    <div class="hidden-md hidden-lg" style="margin-top:30px">
      <%= cl_image_tag @photo_homes[1].photo, class: "intro-img-mobile"%>
      <div class="description-good-xs">
      <h2 class="text-center">PIXEL & BECHAMEL S’ENGAGE</h2>
      <hr>
        <p> Le studio de photographie culinaire Pixel et Béchamel met en place des actions quotidiennes visant à réduire les déchets alimentaires et à les recycler.</p>
        <p>Cette gestion inclut la distribution, via l’application To Good To Go, de certains plats réalisés sur place. Nous reversons tous les revenus de ces transactions à l'association Action contre la faim.</p>
        <%= image_tag "Logotoogood.png", class: "logo-good"%>
      </div>
    </div>
  </div>
</div>


<div class="news" style="background-image: url(<%= cl_image_path @photo_homes[2].photo%>)";>
  <div id="mc_embed_signup">
    <form action="https://pixeletbechamel.us8.list-manage.com/subscribe/post?u=d7fa94b094c52b21ae0e45ac0&amp;id=2e4ec7f08c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">INSCRIVEZ VOUS A NOTRE NEWSLETTER</label>
      <div class="flexi">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d7fa94b094c52b21ae0e45ac0_2e4ec7f08c" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Inscription" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</div>




<div class="images-partners hidden-xs hidden-sm">
  <p class="text-center">Ils nous ont fait confiance</p>

  <div class="row text-center" style="display: flex; align-items: center; flex-wrap: wrap;">
    <div class="col-xs-5 col-md-1 col-md-offset-2">
      <%= image_tag "logofindus.png", style: "height: 95px;" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logohachette.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logoleclerc.jpg", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logoliddle.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logomichel.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logoprestashop.jpg", class: "logo-home" %>
    </div>
     <div class="col-xs-5 col-md-1">
      <%= image_tag "vache-qui-rit-logo.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logo-plage.jpg", class: "logo-home" %>
    </div>
  </div>

  <div class="row text-center" style="display: flex; align-items: center; flex-wrap: wrap;">
    <div class="col-xs-5 col-md-1 col-md-offset-3">
      <%= image_tag "mastradlogo.jpg", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "biovillage-logo.jpg", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "boursin-logo.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "logoconnetable.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "peugeot-logo.jpg", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "carrefour-logo.png", class: "logo-home" %>
    </div>
    <div class="col-xs-5 col-md-1">
      <%= image_tag "bonne-maman.png", class: "logo-home" %>
    </div>
  </div>

</div>


 <div class="images-partners hidden-md hidden-lg xs-part">
    <p class="text-center">Ils nous ont fait confiance</p>

    <div class="row text-center">

      <div class="col-xs-3">
        <%= image_tag "logofindus.png", style: "height: 50px;" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logohachette.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logoleclerc.jpg", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logoliddle.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logomichel.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logoprestashop.jpg", class: "logo-home-xs" %>
      </div>
       <div class="col-xs-3">
        <%= image_tag "vache-qui-rit-logo.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logo-plage.jpg", class: "logo-home-xs" %>
      </div>

      <div class="col-xs-3">
        <%= image_tag "mastradlogo.jpg", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "biovillage-logo.jpg", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "boursin-logo.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "logoconnetable.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "peugeot-logo.jpg", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3 col-xs-offset-3">
        <%= image_tag "carrefour-logo.png", class: "logo-home-xs" %>
      </div>
      <div class="col-xs-3">
        <%= image_tag "bonne-maman.png", class: "logo-home-xs" %>
      </div>

    </div>

  </div>






<%= content_for(:title, "Pixel et Béchamel, photographie culinaire") %>
