<div class="banner-photos" style="background-image: url( <%= image_path "stopcover.jpg" %>);">
  <h1>VIDEOS</h1>
  <div class="trait-souligne-stop">
  </div>
</div>

<div class="container">
  <div class="row">
    <% @video_folders&.each do |f| %>

      <div class="col-xs-12 col-md-4">
        <% if f.photo? %>
            <div class="logo-container">
              <div class="logoprojects">
                <div class="front">
                  <div class="imagesize" style="background-image: linear-gradient(rgba(50,50,50,0.6), rgba(50,50,50,0.4)), url('<%= cl_image_path f.photo %>')";></div>
                  <h2><%= f.client%></h2>
                  <%= link_to "", video_folder_portfolio_motions_path(f), class: "link-folder"%>
                </div>
                <div class="back">
                  <%= link_to video_folder_portfolio_motions_path(f), class: "link-folder" do %>
                    <%= cl_image_tag f.photo, class:"imagesize-filtered" %>
                    <p>Voir le projet</p>
                  <% end %>
                </div>
              </div>
            </div>
        <% else %>
          <p> prout </p>
        <% end %>
        <% if current_user&.admin %>
          <%= link_to "X", folder_path(f), method: :delete  %>
          <%= link_to "Edit", edit_folder_path(f)  %>
        <% end %>
      </div>

    <% end %>
  </div>



  <% if current_user&.admin  %>
    <div class="form-cache">
      <%= render 'video_folders/form', video_folder: @video_folder %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>

</div>
