<div class="navbar hidden-xs hidden-sm">
  <%= link_to "ÉQUIPE", equipe_path, id: "qui" %>
  <%= link_to "PHOTOS", portfolio_photos_path %>
  <%= link_to "STOP-MOTIONS", portfolio_motions_path %>
  <%= link_to "STUDIO", studio_path, id: "studio"  %>
  <%= link_to "ACTUALITÉS", articles_path %>
  <%= link_to "CONTACT", contact_path %>
</div>


<div class="navbar hidden-md hidden-lg">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li class="dropdown-item" ><%= link_to "ÉQUIPE", equipe_path %></li>
      <li class="dropdown-item" ><%= link_to "PHOTOS", portfolio_photos_path %></li>
      <li class="dropdown-item" ><%= link_to "STOP-MOTIONS", portfolio_motions_path %></li>
      <li class="dropdown-item" ><%= link_to "STUDIO", studio_path %></li>
      <li class="dropdown-item" ><%= link_to "ACTUALITÉS", articles_path %></li>
      <li class="dropdown-item" ><%= link_to "CONTACT", contact_path %></li>
    </ul>
  </div>
</div>


<script>


var wrapper = document.getElementById("wrapper");

wrapper.addEventListener("mouseleave", function() {
  document.getElementById("navbar-portfolio").classList.remove("opacity-port");
});

var qui = document.getElementById("qui");
console.log(qui);

qui.addEventListener("mouseenter", function() {
  document.getElementById("navbar-portfolio").classList.remove("opacity-port");
});

var portfolio = document.getElementById("portfolio");

portfolio.addEventListener("mouseenter", function() {
  document.getElementById("navbar-portfolio").classList.add("opacity-port");
});


var studio = document.getElementById("studio");

studio.addEventListener("mouseenter", function() {
  document.getElementById("navbar-portfolio").classList.remove("opacity-port");
});


</script>


