  <div class="full-container" style="background-image: url(<%= image_path 'fond.jpg' %>);background-size: cover">
    <div class="contact">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="laura-contact text-center">
            <p>Laura BREGEON</p>
            <p>06 18 03 27 55</p>
            <p class="email"><strong><%= mail_to "laura.b@pixeletbechamel.com" %></strong></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= image_tag "Maud_Laura.jpg", class: "photo-contact" %>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="maud-contact text-center">
            <p>Maud ARGAÏBI</p>
            <p>07 69 74 45 61</p>
            <p class="email"><strong><%= mail_to "maud.a@pixeletbechamel.com" %></strong></p>
          </div>

        </div>
      </div>
      <div class="margin">
        <p class="text-center"><strong><%= mail_to "studio@pixeletbechamel.com" %></strong></p>
        <p class="text-center">01 40 38 00 75</p>
        <p class="text-center" style="font-size: 18px; margin-top: 40px; font-style: italic;">N’hésitez pas à nous contacter, nous serions ravies de discuter de vos projets avec vous</p>
      </div>
    </div>
  </div>

  <%= content_for(:title, "Contact") %>

