  <div class="full-container">
    <div class="banner-contact" style="background-image: url(<%= image_path "cover-contact.jpg" %>)">
      <h2 class="contact-title">CONTACT</h2>
    </div>

    <div class="contact hidden-xs hidden-sm">

      <div class="contact-left">
        <h3>CONTACTEZ-NOUS</h3>
        <p class="p-contact">Parlons de votre projet</p>

          <form action="https://formspree.io/studio@pixeletbechamel.com"
          method="POST" id="form-contact" class="margin-lg">
          <div>
            <p class="input-p">Nom</p>
            <input type="text" name="name" value="" style="width: 150%;">
          </div>
          <div>
            <p class="input-p">Prénom</p>
            <input type="text" name="prenom" value="" style="width: 150%;">
          </div>
          <div>
            <p class="input-p">Société</p>
            <input type="text" name="societe" value="" style="width: 150%;">
          </div>
          <div>
            <p class="input-p">Email</p>
            <input type="email" name="_replyto" value="" style="width: 150%;">
          </div>
           <div>
            <p class="input-p">Message</p>
            <input type="text" name="message" value="" style="width: 220%;">
          </div>
            <input type="submit" value="Envoyer" id="sub-btn">
          </form>
        </div>
        <div class="laura-contact text-center">

          <div class="margin-top flex">
            <%= image_tag "Maud.jpg", class: "avatar" %>
            <div>
              <p style="border-bottom: 1px solid white;">Maud ARGAÏBI</p>
              <p>07 69 74 45 61</p>
            </div>
          </div>
          <div class="margin-top flex">
            <%= image_tag "studio1.png", class: "avatar" %>
            <div>
              <p style="border-bottom: 1px solid white;">Studio</p>
              <p class="text-center">01 40 38 00 75</p>
            </div>
          </div>

        </div>

    </div>





    <div class="contact-xs hidden-md hidden-lg">
      <h3 class="text-center">CONTACTEZ-NOUS</h3>
      <p class="text-center p-contact" style="margin-top: 20px;">Parlons de votre projet</p>

        <form action="https://formspree.io/maud.a@pixeletbechamel.com"
        method="POST" id="form-contact">
        <div>
          <input type="text" name="name" value="Nom" onfocus="if (this.value=='Nom') this.value='';">
        </div>
         <div>
          <input type="text" name="name" value="Prénom" onfocus="if (this.value=='Nom') this.value='';">
        </div>
         <div>
          <input type="text" name="name" value="Sociéte" onfocus="if (this.value=='Nom') this.value='';">
        </div>
        <div>
          <input type="email" name="_replyto" value="Email" onfocus="if (this.value=='Email') this.value='';">
        </div>
         <div>
          <input type="text" name="message" value="Message" onfocus="if (this.value=='Message') this.value='';">
        </div>
          <input type="submit" value="Envoyer" id="sub-btn">
        </form>
        <div class="laura-contact-xs text-center">

          <div class="margin-top flex">
            <%= image_tag "Maud.jpg", class: "avatar" %>
            <div>
              <p style="border-bottom: 1px solid white;">Maud ARGAÏBI</p>
              <p>07 69 74 45 61</p>
            </div>
          </div>
          <div class="margin-top flex">
            <%= image_tag "studio1.png", class: "avatar" %>
            <div>
              <p style="border-bottom: 1px solid white;">Studio</p>
              <p class="text-center">01 40 38 00 75</p>
            </div>
          </div>
        </div>
    </div>


  </div>

  <%= content_for(:title, "Contact") %>

