<div class="full-container" style="background-image: url(<%= image_path 'fond.jpg' %>); background-repeat: no-repeat;background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="equipe-text text-center">
          <%= image_tag "Maud.jpg", class: "photo-equipe" %>
          <p><strong>Maud Argaïbi - Co-fondatrice et photographe culinaire</strong></p>
          <p>Maud a commencé sa carrière en tant que Chef cuisinière, formée à l’École
          Supérieure de Cuisine Française, major de la promotion 37.</p>
          <p>C’est après quelques années dans le milieu de la gastronomie qu’elle s’est reconvertie professionnellement en tant que photographe culinaire.</p>
          <p>A son compte depuis plus de 7 ans, c’est toujours la passion
          de l’art culinaire et la gourmandise qui la motivent. Elle réalise des clichés pour la
          publicité et l’édition, avec une spécialité en création de stop-motions culinaires.</p>
          <p>Après quelques années à gérer son entreprise, elle décide désormais de ne plus faire ce chemin
          entrepreneurial seule et de s’associer à sa soeur Laura Bregeon pour développer son
          activité.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="equipe-text text-center" style="margin-bottom: 11%;">
          <%= image_tag "Laura.jpg", class: "photo-equipe" %>
          <p><strong>Laura Bregeon- Co-fondatrice et business developper</strong></p>
          <p>Laura est en charge du développement commerciale et de la gestion des projets de photographies culinaires.</p>
          <p>Suite à une formation en école de commerce spécialisation entrepreneuriale, elle crée un dynamisme et forge l’identité du studio autour des créations de sa soeur.</p>
        </div>
      </div>
    </div>
    <div class="equipe">
      <div class="row text-center">
        <div class="col-sm-12 col-md-6">
          <%= image_tag "Pierre.jpg", class: "photo-equipe" %>
          <p class="text-center">Pierre Allonneau - Cuisinier</p>
        </div>

        <div class="col-sm-12 col-md-6">
          <%= image_tag "Claire.jpg", class: "photo-equipe" %>
          <p class="text-center">Claire Louiset - Photographe culinaire</p>
        </div>
        <div class="col-sm-12 col-md-6">
          <%= image_tag "Lucie.jpg", class: "photo-equipe" %>
          <p class="text-center"> Lucie LORRAIN - Styliste culinaire</p>
        </div>
         <div class="col-sm-12 col-md-6">
          <%= image_tag "Marie.jpg", class: "photo-equipe" %>
          <p class="text-center"> Marie HENRY - Styliste culinaire</p>
        </div>
    </div>
  </div>

</div>

<%= content_for(:title, "Equipe") %>
