<div class="text-center">
  <h1 class="title-photos"><%= @video_folder.client.capitalize %></h1>
</div>

<div class="container youtube-videos">
  <%= link_to video_folders_path, class: "bouton-retour" do %>
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    Retour aux clients
  <% end %>
  <p style="margin-bottom: 30px;"></p>

  <div class="row">
    <% @video_folder.portfolio_motions.reverse.each do |p| %>
      <div class="col-xs-12 col-md-4">
        <div class="video-youtube">
          <iframe height="250" src="https://www.youtube.com/embed/<%= p.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <% if current_user&.admin %>
            <%= link_to "X", video_folder_portfolio_motion_path(@video_folder, p), method: :delete  %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>



  <% if current_user&.admin  %>
    <div class="form-cache">
      <%= render 'portfolio_motions/form', portfolio_motion: @portfolio_motion %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
</div>

