<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? yield(:title) : "Pixel et Béchamel" %></title>
    <meta name="title" content="Pixel et Béchamel - photographie culinaire">
    <meta name="description" content="Pixel et Béchamel est un studio de photographie culinaire vous accueillant à Paris. Équipé d’un grand espace de shooting et d’une cuisine, le studio rassemble une équipe de deux photographes, une styliste culinaire, un cuisinier, et une chef de projet.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Pixel et Béchamel" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://res.cloudinary.com/daipxu9yw/image/upload/v1520515140/ig20tnb5irj3uynrb8u8.png">
    <meta property="og:description" content="Pixel et Béchamel est un studio de photographie culinaire vous situé à Paris">
    <meta property="og:site_name" content="Pixel et Béchamel"/>

    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <div id="wrapper">
      <%= render 'shared/navbar' %>
    </div>
    <div class="layout-content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
